<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.iaiabot.furufuru.feature">
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <application>
        <activity
            android:name=".ui.issue.IssueActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <service android:name=".service.SensorService" />
    </application>
</manifest>
