<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="dev.iaiabot.furufuru.feature">
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <application>
        <activity
            android:name=".ui.issue.IssueActivity"
            android:exported="false"
            android:allowEmbedded="true"
            android:documentLaunchMode="always"
            android:resizeableActivity="true"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            tools:targetApi="n" />

        <service
            android:name=".service.SensorService"
            android:exported="false" />
    </application>
</manifest>
